<!DOCTYPE html>
<html ng-app xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body ng-controller="Controller">
    <input ng-model="textFilter"/>{{ textFilter }}
    <ul>
        <li ng-repeat="item in tickets"> {{ item }} </li>
    </ul>
    <script src="/Scripts/angular.js"></script>
    <script src="/script.js"></script>

    <input ng-model="newTicket" />
    <button ng-click="addTicket()">Add Ticket</button>

</body>
</html>
